h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pagetitle{
    font-family: monospace;
}

.nav{
    margin-top: 18px;
    list-style-type: none;
    padding: 10px solid black;
    margin: 10px;
    border: 20px solid black;
    box-sizing: border-box;

}
.nav li {
    display: inline-block;
}